.grid {
  display: grid;
  outline-style: solid;
  outline-width: 0.2em;
  height: 500px;
  width: 500px;
}

.pixel {
  /* outline-style: solid;
  outline-width: 0.1em; */
  /* background-color: rgb(73, 185, 185); */
}
