:root {
  --color1: #cfd2cf;
  --color2: #a2b5bb;
  --color3: #eb1d36;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center-text {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

h1 {
  padding: 1rem 0;
  background-color: var(--color2);
  font-weight: 900;
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  flex: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

input {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
}

input:hover {
  cursor: pointer;
}

.grid-container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: grid;
}

button {
  width: 150px;
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--color2);
  border: 2px solid transparent;
  transition-duration: 0.15s;
}

button:active {
  background-color: white;
  border: 2px solid black;
}

.github-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

a {
  color: black;
}

footer {
  font-weight: bold;
  padding: 0.5rem 0;
  background-color: var(--color2);
  font-weight: 900;
}

@media (max-width: 900px), (max-height: 650px) {
  main {
    height: auto;
    grid-template-columns: 1fr;
  }

  header,
  .buttons,
  .grid-container,
  a {
    margin-bottom: 1.5rem;
  }

  .grid-container {
    grid-row: 1;
  }

  .buttons {
    grid-row: 2;
  }

  .github-link {
    grid-row: 3;
  }
}

@media (max-width: 600px) {
  .grid-container {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 370px) {
  .grid-container {
    width: 95dvw;
    height: 95dvw;
  }
}

@media (hover: hover) {
  button:hover {
    cursor: pointer !important;
    border: 2px solid black !important;
  }
}
